body {
    background-color: $black;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brand {
    margin: 200px 0;
    color: $white;
    h1 {
        margin-bottom: 20px;
        font-size: 75px;
    }
}